.slideUp {
	-webkit-transform: translateX(-100px);
	transform: translateX(-100px);
	transition: transform 1.5s ease-out;
}

.slideDown {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition: transform 1.5s ease-out;
}

.img {
	width: 4rem;
	height: 4rem;
	position: fixed;
	z-index: 999;
	top: 10%;
	left: 0;
	cursor: pointer;
}
