.ifream:hover {
	opacity: 1;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	/*Safari and Chrome*/
	-moz-transform: scale(1.2);
	/*Firefox*/
	-ms-transform: scale(1.2);
	/*IE9*/
	-o-transform: scale(1.2);
	/*Opera*/
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}

.ifream {
	opacity: 0.4;
	transform: scale(1);
	-webkit-transform: scale(1);
	/*Safari 和 Chrome*/
	-moz-transform: scale(1);
	/*Firefox*/
	-ms-transform: scale(1);
	/*IE9*/
	-o-transform: scale(1);
	/*Opera*/
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}

.changeskin{
opacity: 0.7;
	transform: scale(1);
	-webkit-transform: scale(1);
	/*Safari 和 Chrome*/
	-moz-transform: scale(1);
	/*Firefox*/
	-ms-transform: scale(1);
	/*IE9*/
	-o-transform: scale(1);
	/*Opera*/
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}

.changeskin:hover{
        opacity: 1;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	/*Safari and Chrome*/
	-moz-transform: scale(1.1);
	/*Firefox*/
	-ms-transform: scale(1.1);
	/*IE9*/
	-o-transform: scale(1.1);
	/*Opera*/
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}
.skin{
            position: fixed;
            top: 20%;
	    left: 5%;
	    z-index: 999;
}


@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg)
	}

	to {
		-moz-transform: rotate(359deg)
	}
}

@-o-keyframes rotate {
	from {
		-o-transform: rotate(0deg)
	}

	to {
		-o-transform: rotate(359deg)
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(359deg)
	}
}
.rotate {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
	-webkit-animation: rotate 3s linear infinite;
	-moz-animation: rotate 3s linear infinite;
	-o-animation: rotate 3s linear infinite;
	animation: rotate 3s linear infinite;
}
